@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 13%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(0, 0%, 13%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(0, 0%, 13%);
  --primary: #1B499D;
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: #3B86E3;
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(210, 40%, 96%);
  --muted-foreground: hsl(215.4, 16.3%, 46.9%);
  --accent: #444546;
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(210, 40%, 98%);
  --border: hsl(214.3, 31.8%, 91.4%);
  --input: hsl(214.3, 31.8%, 91.4%);
  --ring: hsl(222.2, 84%, 4.9%);
  --radius: 0.5rem;
  --success: #FABF27;
}

.dark {
  --background: hsl(0, 0%, 13%);
  --foreground: hsl(0, 0%, 98%);
  --card: hsl(0, 0%, 13%);
  --card-foreground: hsl(0, 0%, 98%);
  --popover: hsl(0, 0%, 13%);
  --popover-foreground: hsl(0, 0%, 98%);
  --primary: #3B86E3;
  --primary-foreground: hsl(0, 0%, 13%);
  --secondary: #1B499D;
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(217.2, 32.6%, 17.5%);
  --muted-foreground: hsl(215, 20.2%, 65.1%);
  --accent: #444546;
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(210, 40%, 98%);
  --border: hsl(217.2, 32.6%, 17.5%);
  --input: hsl(217.2, 32.6%, 17.5%);
  --ring: hsl(212.7, 26.8%, 83.9%);
  --success: #FABF27;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}